@charset "utf-8";

body {
    overflow-x: hidden;
}



@font-face {
    font-family: "sysong";
    src: url(./font/sySong.OTF);
}

@font-face {
    font-family: "CenturyGothic";
    src: url(./font/GOTHIC.TTF);
}

#downPage {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: url(../images/down-page1.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    margin: 0 .6rem;
    opacity: 0;
    transition: opacity 2s;
    animation: _ani1 10s infinite linear;
}

.banner.ani #downPage {
    opacity: 1;
}

#downPage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/down-page1.png) no-repeat;
    background-size: 100% 100%;
    animation: ani_bj 3s infinite linear;
    opacity: 0;
}

#downPage img {
    animation: _ani2 10s infinite linear;
}

@keyframes _ani1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes _ani2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes ani_bj {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: .8;
        transform: scale(1.45);
    }

    95% {
        opacity: 0;
        transform: scale(1.8);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.banner {
    position: relative;
    /* z-index: 9; */
    overflow: hidden;
}

.banner a {
    display: block;
}

.banner>img {
    display: block;
    width: 100%;
}

.banner .slick {
    position: relative;
    z-index: 9;
}

.banner .slick-slide a {
    display: block;
    position: relative;
}

.banner .slick-slide a::before {
    content: "";
    position: absolute;
    left: 0;
    height: 1.8rem;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 1;
}

.banner .slick-slide a>img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.banner .slick-slide a .banner-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    display: none;
}

.banner .slick-slide a .banner-text img {
    display: block;
    max-width: 70%;
    max-height: 1.83rem;
    transition: all 1s;
    transform: scale(0);
    opacity: 0;
}

.banner .slick-slide a .banner-text img.on {
    opacity: 1;
    transform: scale(1);
}

.banner .slick-slide.slick-current a>img {
    animation: img_scale linear 8s;
}


@keyframes img_scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}


@keyframes img_scale3 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.banner .slick-dots {
    font-size: 0;
    text-align: right;
    bottom: 0.6rem;
    left: 0;
    right: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 .15rem;
}

.banner .slick-dots li {
    display: flex;
    border-radius: 50%;
    margin: 0 0.12rem;
    transition: all 0.3s;
    vertical-align: middle;
    width: 0.43rem;
    height: 0.36rem;
    justify-content: center;
    align-items: center;

}

@keyframes cilcle {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.banner .slick-dots li button {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

.banner .slick-dots li.slick-active {
    width: 0.43rem;
    border-color: #fff;
    background: url(../images/baanner-dot-bor.png) no-repeat;
    background-size: 100% 100%;
}

.banner .slick-dots li.slick-active button {
    opacity: 0;
    width: 0;
}

/* index */
.index {
    z-index: 99;
    background: #fff;
    position: relative;
    padding-top: 1px;
    overflow: hidden;
}


.s1 {
    margin-top: .8rem;
    position: relative;
    z-index: 9;
}

.s1-c {
    display: flex;
    justify-content: space-between;
}

.s1-l {
    width: 24%;
}

.s1-m {
    width: 46%;
    margin: 0 2.5%;
}

.s1-r {
    flex: 1;
    min-width: 0;
}

.first-item a {
    display: block;
    position: relative;
    margin-top: .43rem;
    margin-bottom: .1rem;
}

.first-item a .pic {
    padding-top: 67.5%;
}

.first-item a .pic::after {
    content: "";
    position: absolute;
    left: 0;
    height: 1.1rem;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(15, 94, 187, 0) 0%, #0F5EBB 100%);
}

.first-item a .info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .15rem;
    z-index: 9;
}
.first-item a .info span{
    display: block;
    font-family: georgia;
    font-size: 0.16rem;
    font-weight: normal;
    line-height: 0.28rem;
    color: #fff;
    margin-bottom: .05rem;
    padding-left: .25rem;
    background: url(../images/icon-date4.png) no-repeat;
    background-position: left center;
    background-size: .16rem;
}
.first-item a .info p {
    font-size: 0.16rem;
    font-weight: 600;
    line-height: 0.26rem;
    color: #ffffff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: .6rem;
}

.first-item a .info p i {
    background-image: linear-gradient(#fff, #fff);
}

.publist ul li a {
    display: block;
    position: relative;
    padding: .15rem 0;
}

.publist ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #EEEEEE;
    z-index: 1;
}

.publist ul li:last-child a::before {
    background: none;
}

.publist ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: #B62629;
    z-index: 2;
    transition: all 0.5s;
}

.publist ul li a h3 {
    font-size: 0.18rem;
    font-weight: normal;
    line-height: 0.28rem;
    color: #333333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: .56rem;
}

.publist ul li a span {
    display: block;
    font-family: georgia;
    font-size: 0.16rem;
    font-weight: normal;
    line-height: 0.28rem;
    color: #999999;
    margin-top: .1rem;
    padding-left: .25rem;
    background: url(../images/icon-date.png) no-repeat;
    background-position: left center;
    background-size: .16rem;
}

.publist ul li a:hover h3 {
    color: #B62629;
    font-weight: 600;
}

.publist ul li a:hover::after {
    width: 100%;
}

.s1-r .publist {
    margin-top: .2rem;
}

.s1-mtext {
    background: linear-gradient(180deg, #F1F8FF 0%, #FFFFFF 100%);
    position: relative;
}

.s1-mtext li {}

.s1-mtext li a {
    display: block;
    padding: .35rem 8%;
}

.s1-mtext li a h3 {
    font-size: 0.2rem;
    line-height: 0.28rem;
    color: #BB2026;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
}

.s1-mtext li a h3 i {
    background-image: linear-gradient(#BB2026, #BB2026);
}

.s1-mtext li a:hover h3 {
    color: #BB2026;
}

.s1-mtext li a p {
    font-size: 0.16rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.26rem;
    letter-spacing: 0rem;
    color: #666666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: .52rem;
    margin-top: .25rem;
}

.s1-mtext li a span {
    display: block;
    padding-left: .25rem;
    font-family: georgia;
    font-size: 0.16rem;
    font-weight: normal;
    line-height: 0.28rem;
    color: #11509D;
    background: url(../images/icon-date2.png) no-repeat;
    background-position: left center;
    background-size: .16rem;
    margin-top: .2rem;
}


.s1-mpics .slick-dots {
    position: static;
    text-align: left;
    font-size: 0;
    background: #11509D;
    height: 0.56rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
}

.s1-mpics .slick-dots li {
    margin: 0 .1rem;
    /* width: 40px; */
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    display: block;
}

.s1-mpics .slick-dots li.slick-active {
    background: #BB2026;
    height: 4px;
    border-radius: 4px;
}


.s1-mpics {
    margin-top: .25rem;
}

.s1-mpics ul li a {
    display: block;
}

.s1-mpics ul li a .pic {
    padding-top: 61.8%;
}


.s1-mmore {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 9;
}

.s1-mmore a {
    background: #BB2026;
    font-size: 0.18rem;
    font-weight: normal;
    line-height: 0.46rem;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    padding: 0 .3rem;
    border-radius: .3rem;
    transition: all 0.3s;
}

.s1-mmore a:hover {
    box-shadow: 0.03rem .05rem .1rem #BB2026;
}

.s1-msvg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 0;
    pointer-events: none;
}

.s1-msvg svg {
    width: 85%;
}

.s1-msvg:hover svg {
    animation: _anisvg 5s linear forwards;

}

@keyframes _anisvg {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}


.s2 {
    background: url(../images/s2-bg.png) no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: .67rem;
    padding: .65rem 0 0 0;
}

.s2-c {
    display: flex;
}

.s2-l {
    flex: 1;
    min-width: 0;
}

.s2-l .itit {
    padding-right: 7%;
}

.s2-l ul {
    margin-top: .9rem;
    padding-right: 7%;
}

.s2-l ul li {}

.s2-l ul li a {
    display: block;
    margin-top: .4rem;
    height: .44rem;
    transition: all 0.5s;
    position: relative;
}

.s2-l ul li a .item1 {
    padding-bottom: .2rem;
}

.s2-l ul li a .item1 h3 {
    font-size: 0.18rem;
    font-weight: normal;
    line-height: .24rem;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: .25rem;
    background: url(../images/icon-down.png) no-repeat;
    background-position: right center;
    background-size: .15rem auto;
}

.s2-l ul li a .item2 {
    background: url(../images/s2-litem2bg.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 1.63rem;
    padding: .35rem 8% 0 8%;
    transform: scaleY(0);
    transition: all 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.s2-l ul li a .item2 h3 {
    font-size: 0.2rem;
    font-weight: bold;
    line-height: .26rem;
    color: #B62629;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.s2-l ul li a .item2 p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .16rem;
    line-height: .24rem;
    margin-top: .25rem;
}
.s2-l ul li a .item2 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .15rem;
}

.s2-l ul li a .item2 div span {
    font-size: 0.16rem;
    font-weight: normal;
    line-height: 0.3rem;
    color: #666666;
    padding-left: .3rem;
}

.s2-l ul li a .item2 div span.time {
    background: url(../images/icon-date3.png) no-repeat;
    background-position: left center;
    background-size: .17rem auto;
}

.s2-l ul li a .item2 div span.add {
    background: url(../images/icon-add.png) no-repeat;
    background-position: left center;
    background-size: .18rem auto;
}

.s2-l ul li a .item2 div span.user {
    background: url(../images/icon-user.png) no-repeat;
    background-position: left center;
    background-size: .22rem auto;
}

.s2-l ul li.on a {
    height: 1.63rem;
}

.s2-l ul li.on a .item1 {
    display: none;
}

.s2-l ul li.on a .item2 {
    transform: scaleY(1);
}

.s2-r {
    width: 8.5rem;
    position: relative;
    padding-bottom: .82rem;
    padding-right: .1rem;
    padding-top: .1rem;
    margin-top: .6rem;
}

.s2-r::before {
    content: "";
    position: absolute;
    top: 0.76rem;
    bottom: 0;
    left: 20%;
    right: calc((-100vw + 15.6rem) / 2);
    background: url(../images/s2-rbg.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

.s2-r::after {
    content: "";
    position: absolute;
    top: -0.13rem;
    right: -.17rem;
    width: 1.415rem;
    height: 1.525rem;
    background: url(../images/s2-rate.png) no-repeat;
    background-position: center center;
    background-size: 100%;
}

.s2-r>ul::before {
    content: "";
    position: absolute;
    left: .1rem;
    top: -.1rem;
    bottom: 0.1rem;
    right: -.1rem;
    background: #AA2431;
    clip-path: polygon(0 0, calc(100% - .6rem) 0, 100% .6rem, 100% 100%, 0 100%);

}

.s2-r .slick-list {
    clip-path: polygon(0 0, calc(100% - .6rem) 0, 100% .6rem, 100% 100%, 0 100%);
}

.s2-r>ul::after {}

.s2-r ul li a {
    display: block;
    clip-path: polygon(0 0, calc(100% - .5rem) 0, 100% .5rem, 100% 100%, 0 100%);
    opacity: 0.5;
    transition: all 0.5s;
}

.s2-r ul li.slick-current a {
    opacity: 1;
}

.s2-r ul li a .pic {
    padding-top: 62%;
}


.slick-speed {
    z-index: 2;
    margin-top: .45rem;
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.slick-speed div {
    flex: 1;
    min-width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, .2);
    position: relative;
    margin: 0 .45rem;
}

.slick-speed span {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    transition: all 0.3s;
    background: #fff;
}

.slick-speed ul {
    display: flex;
    align-items: center;
}

.slick-speed ul li {
    width: 0.42rem;
    height: 0.42rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.slick-speed ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: 2;
}

.slick-speed ul li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: 1;
}

.s2-prev::before {
    background: url(../images/s2-prev.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: 1;
}

.s2-prev::after {
    background: url(../images/s2-prev.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: 2;
}

.s2-next::before {
    background: url(../images/s2-next.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: 1;
}

.s2-next::after {
    background: url(../images/s2-next.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: 2;
}

.slick-speed ul li:hover::after {
    animation: scaleTwo 1s 1;
}

@keyframes scaleTwo {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .9
    }

    100% {
        -webkit-transform: scale(1.6);
        transform: scale(1.3);
        opacity: 0
    }
}

.s3 {
    padding-top: .67rem;
    background: url(../images/s3-bg.png) no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    position: relative;
}


.s3-c {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.2rem;
    position: relative;
}

.s3-c::after {
    content: "";
    position: absolute;
    right: 0.6rem;
    bottom: 0;
    background: url(../images/s3-bl.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 7.28rem;
    height: 4.86rem;
    pointer-events: none;
}

.s3-l {
    width: 9rem;
    margin-right: 7%;
}

.s3-r {
    flex: 1;
    min-width: 0;
}

.s3-llist1 ul {
    display: flex;
    margin-top: .5rem;
    justify-content: space-between;
}

.s3-llist1 ul li {
    width: 48%;
}

.s3-llist1 ul li a {
    display: block;
    position: relative;
    overflow: hidden;
}

.s3-llist1 ul li a .pic {
    padding-top: 67%;
}

.s3-llist1 ul li a .info {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 68, 157, 0.9);
    z-index: 9;
    border-bottom: 0.05rem solid #BB2026;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

.s3-llist1 ul li a .info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.s3-llist1 ul li a .info div b {
    font-size: 0.16rem;
    font-weight: normal;
    line-height: 0.28rem;
    color: #FFFFFF;
}

.s3-llist1 ul li a .info div span {
    font-family: Georgia;
    font-size: 0.16rem;
    font-weight: normal;
    line-height: 0.28rem;
    text-align: right;
    color: #FFFFFF;
    background: url(../images/icon-date4.png) no-repeat;
    background-position: left center;
    background-size: .16rem;
    padding-left: .25rem;
}

.s3-llist1 ul li a .info h3 {
    font-size: 0.18rem;
    font-weight: bold;
    line-height: 0.26rem;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: .52rem;
    margin: .14rem 0 .35rem 0;
}


.s3-llist1 ul li a .info i {
    width: 0.3849rem;
    height: 0.3843rem;
    background: url(../images/prev.png) no-repeat;
    background-position: center center;
    background-size: 100%;
}

.s3-llist2 ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.s3-llist2 ul li {
    width: 50%;
}

.s3-llist2 ul li a {
    display: block;
    width: 96%;
    padding: .35rem 0;
}

.s3-llist2 ul li:nth-child(-n+2) a {
    border-bottom: 1px solid rgba(17, 82, 160, 0.2);
}

.s3-llist2 ul li:nth-child(2n) a {
    margin-left: 4%;
}

.s3-llist2 ul li a h3 {
    font-size: 0.18rem;
    font-weight: normal;
    line-height: 0.28rem;
    color: #333333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 0.56rem;
}

.s3-llist2 ul li a div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .13rem;
}

.s3-llist2 ul li a div b {
    font-size: 0.16rem;
    font-weight: bold;
    line-height: 0.28rem;
    color: #1152A0;
}

.s3-llist2 ul li a div span {
    display: block;
    font-family: georgia;
    font-size: 0.16rem;
    font-weight: normal;
    line-height: 0.28rem;
    color: #999999;
    padding-left: .25rem;
    background: url(../images/icon-date.png) no-repeat;
    background-position: left center;
    background-size: .16rem;
}

.s3-llist2 ul li a:hover h3 {
    color: #1152A0;
    font-weight: 600;
}

.s3-r ul {
    margin-top: .45rem;
    position: relative;
}

.s3-r ul::before {
    content: "";
    position: absolute;
    left: 1.3rem;
    top: .33rem;
    bottom: 0.33rem;
    width: 1px;
    background-color: rgba(25, 64, 191, 0.1);
}

.s3-r ul li a {
    display: flex;
    align-items: center;
    margin-top: .37rem;
}

.s3-r ul li:nth-child(1) a {
    margin-top: 0;
}


.s3-r ul li a .date {
    width: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    transition: all 0.5s;
}

.s3-r ul li a .date b {
    transition: all 0.5s;
    font-size: .44rem;
    font-weight: normal;
    line-height: .33rem;
    text-align: center;
    color: #11509D;
    font-family: georgia;
}

.s3-r ul li a .date span {
    font-family: georgia;
    font-size: .18rem;
    font-weight: normal;
    line-height: .3rem;
    text-align: center;
    color: #11509D;
    margin-top: .06rem;
    opacity: .6;
}

.s3-r ul li a .info {
    flex: 1;
    min-width: 0;
    padding-left: .5rem;
    position: relative;
}

.s3-r ul li a .info::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.09rem;
    height: 0.09rem;
    z-index: 2;
    background: #C3D3EE;
    border-radius: 50%;
    transition: all 0.5s;
}

.s3-r ul li a .info::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.27rem;
    height: 0.27rem;
    background: #AA2431;
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
}

@keyframes _circlescale2 {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(1);
        opacity: 0;
    }

    50% {
        opacity: .1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) scale(1.5);
        opacity: 0;
    }
}


.s3-r ul li a .info h3 {
    font-size: 0.18rem;
    font-weight: normal;
    line-height: 0.3rem;
    color: #333333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: .6rem;
}

.s3-r ul li a:hover {}


.s3-r ul li a:hover .date b {
    color: #AA2431;
}

.s3-r ul li a:hover .date span {
    color: #AA2431;
}

.s3-r ul li a:hover .info h3 {
    color: #B62629;
    font-weight: 600;
}

.s3-r ul li a:hover .info::before {
    background: #AA2431;
}

.s3-r ul li a:hover .info::after {
    animation: _circlescale2 infinite 1.3s linear;
}

.s4 {
    position: relative;
    padding-top: 2.8rem;
    margin-top: -3rem;
    z-index: 3;
}

.s4::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/s4-tbg.png) no-repeat;
    background-position: center top;
    z-index: 2;
    pointer-events: none;
}

.s4::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/dot-bg.png) repeat;
    background-position: center top;
    z-index: 1;
    pointer-events: none;
}

.itit-other {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.group-media ul {
    font-size: 0;
    margin-right: .8rem;
}

.group-media ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: .25rem;
}

.s4-t {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.group-media ul li a {
    display: block;
    position: relative;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-media ul li a .icon img {
    display: block;
    max-height: .3rem;
    transition: all 0.5s;
}

.group-media ul li a .icons {
    overflow: hidden;
    border-radius: 50%;
    width: .56rem;
    height: 0.56rem;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.group-media ul li a .icons div {
    width: .56rem;
    height: 0.56rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    border-radius: 50%;
}

.group-media ul li a .icons div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 100%;
    background: #33AA8C;
}

.group-media ul li a:hover .icons div:nth-child(1) {
    transform: translateX(-100%);
}

.group-media ul li a:hover .icons div:nth-child(2) {
    transform: translateX(-100%);
}

.group-media ul li a .group-ewm {
    position: absolute;
    right: 130%;
    transform: translateY(-50%);
    top: 50%;
    margin-right: 0.1rem;
    padding: 0.05rem;
    background: #fff;
    opacity: 0;
    transition: all .5s;
    visibility: hidden;
    z-index: 9;
}

.group-media ul li a .group-ewm img {
    display: block;
    width: 1.05rem;
    height: auto;
}

.group-media ul li a .group-ewm::after {
    content: "";
    position: absolute;
    left: 100%;
    transform: translateY(-50%) translateX(-1px);
    top: 50%;
    border-width: 0.08rem 0 0.08rem 0.1rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.group-media ul li a .icon {
    width: .44rem;
    height: .44rem;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
    position: relative;
    z-index: 1;
}

.group-media ul li:hover a {
    overflow: visible;
}

.group-media ul li:hover a .icon {
    background-color: #2f73d1;
}

.group-media ul li:hover a .icon img {
    opacity: 1;
}

.group-media ul li a .icon img {
    vertical-align: middle;
    display: block;
    width: 100%;
}

.group-media ul li:hover a .group-ewm {
    opacity: 1;
    right: 100%;
    visibility: visible;
}



.s4-c {
    display: flex;
    margin-top: .75rem;
}

.s4-l {
    width: 26.92%;
}

.s4-l .pic {
    padding-top: 171.2%;
}

.s4-r {
    flex: 1;
    min-width: 0;
}

.s4-r ul {
    display: flex;
    flex-wrap: wrap;
}

.s4-r ul li {}

.s4-r ul li:nth-child(1) {
    width: 54.385%;
}

.s4-r ul li:nth-child(1) .pic {
    padding-top: 58%;
}

.s4-r ul li:nth-child(2) {
    width: 45.615%;
}

.s4-r ul li:nth-child(2) .pic {
    padding-top: 69.15%;
}

.s4-r ul li:nth-child(3) {
    width: 45.615%;
}

.s4-r ul li:nth-child(3) .pic {
    padding-top: 69.15%;
}

.s4-r ul li:nth-child(4) {
    width: 54.385%;
}

.s4-r ul li:nth-child(4) .pic {
    padding-top: 58%;
}



.s4-item {
    display: block;
    position: relative;
}

.s4-item .pic::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.s4-item .pic div::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
    height: 1.6rem;
    max-height: 45%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    transform: translateY(100%);
}

.s4-item .info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .25rem;
    z-index: 9;
    display: flex;
    align-items: center;
}

.s4-item .info::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.05rem;
    height: 0.4rem;
}

.s4-item .info.sph-item::before {
    background: #545BE4;
}

.s4-item .info.xx-item::before {
    background: #BB2026;
}

.s4-item .info.wx-item::before {
    background: #0E9875;
}

.s4-item .info.wb-item::before {
    background: #BB2026;
}

.s4-item .info.dy-item::before {
    background: #545BE4;
}

.s4-item .info h3 {
    font-size: 0.18rem;
    font-weight: normal;
    line-height: 0.3rem;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.s4-item .info h3 i {
    background-image: linear-gradient(#fff, #fff);
}

.s4-item p {
    display: flex;
    align-items: center;
    z-index: 9;
}

.s4-item p img {
    margin-right: .2rem;
    max-height: .25rem;
}

.s4-item p span {
    display: block;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.16rem;
    font-weight: normal;
    line-height: 0.24rem;
    color: #FFFFFF;
}

.s4-item:hover .pic::after {
    opacity: 0;
}

.s4-item:hover .pic div::after {
    transform: translateY(0);
    transition-delay: .3s;
}

.s5 {
    padding-top: 2rem;
    position: relative;
    z-index: 2;
}

.s5::before {
    content: "";
    position: absolute;
    left: 0;
    top: -6.5rem;
    right: 0;
    bottom: 0;
    background: url(../images/s5-bg.png) no-repeat;
    background-position: center top;
    z-index: 1;
}

.s5-c {
    display: flex;
}

.s5-tit {
    width: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s5-tit .itit>div.itit-text {
    padding: 0 0 .75rem 0;
    width: 1.1rem;
    background: url(../images/itit-logo.png) no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    flex-direction: column;
}

.s5-tit .itit>div.itit-text span {
    writing-mode: vertical-lr;
    writing-mode: tb-lr;
}

.s5-tit .itit>div.itit-text b {
    writing-mode: vertical-lr;
    writing-mode: tb-lr;
}

.s5-tit .itit>div.itit-text::before {
    bottom: auto;
    height: 0.4rem;
    width: 0.04rem;
    left: .13rem;
}

.s5-tit .itit>div.itit-text::after {
    height: 0.21rem;
    width: 0.04rem;
    left: .13rem;
    bottom: auto;
    top: .45rem;
}


.s5-arrow>div {
    width: 0.42rem;
    height: 0.42rem;
    border-radius: 50%;
    margin-left: .22rem;
    cursor: pointer;
    position: relative;
    margin-top: .2rem;
}

.s5-arrow>div::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: 2;
}

.s5-arrow>div::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: #3082a6;
    z-index: 1;
}

.s5-prev::before {
    background: url(../images/s5-prev.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: 1;
}

.s5-prev::after {
    background: url(../images/s5-prev.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: 2;
}

.s5-next::before {
    background: #fff url(../images/s5-next.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: 1;
}

.s5-next::after {
    background: url(../images/s5-next.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: 2;
}

.s5-arrow>div:hover::after {
    animation: scaleTwo 1s 1;
}


.s5-r {
    flex: 1;
    min-width: 0;
}

.s5-r .slick {
    margin-right: calc((-100vw + 15.6rem) / 2);
    overflow: hidden;
}

.s5-r .slick ul {
    margin-right: calc((100vw - 15.6rem) / 2);
}

.s5-r .slick .slick-list {
    overflow: visible;
}

.s5-r ul li {}

.s5-r ul li:nth-child(2n) a {
    margin-top: .4rem;
}

.s5-r ul li a {
    display: block;
    position: relative;
    margin: 0 .15rem;
    padding-top: .07rem;
    padding-right: .07rem;
}

.s5-r ul li a::after {
    content: "";
    position: absolute;
    right: .1rem;
    top: .1rem;
    width: calc(100% - .1rem);
    height: calc(100% - .1rem);
    background: #B42528;
    z-index: 1;
    clip-path: polygon(0 0, calc(100% - .25rem) 0, 100% .25rem, 100% 100%, 0 100%);
    transition: all 0.5s;
}

.s5-r ul li a .pic {
    z-index: 2;
    padding-top: 200%;
    clip-path: polygon(0 0, calc(100% - .2rem) 0, 100% .2rem, 100% 100%, 0 100%);
}

.s5-r ul li a .pic div {
    z-index: 2;
}

.s5-r ul li a:hover::after {
    top: 0;
    right: 0;
}



.s6 {
    position: relative;
    z-index: 1;
    margin-top: .9rem;
}

.s6::after {
    content: "";
    position: absolute;
    left: 0;
    top: -5rem;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #FBFCFE 0%, #EFF5FC 37%, #FFFFFF 100%);
    z-index: 1;
}

.s6::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2rem;
    right: 0;
    bottom: 0;
    background: url(../images/dot-bg2.png) repeat;
    background-position: center top;
    z-index: 2;
}

.s6-c ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.s6-c ul li:nth-child(1) {
    margin-top: .1rem;
}

.s6-c ul li:nth-child(3) {
    margin-top: .2rem;
}

.s6-c ul li:nth-child(5) {
    margin-top: .6rem;
}

.s6-c ul li:nth-child(7) {
    margin-top: .47rem;
}

.s6-c ul li:nth-child(9) {
    margin-top: .6rem;
}

.s6-c ul li:nth-child(11) {
    margin-top: .1rem;
}

.s6-c ul li a {
    display: block;
    position: relative;
    width: 1.4rem;
}

.s6-c ul li a .icons {
    height: 1.4rem;
    padding: .15rem;
    border-radius: 50%;
    position: relative;
    transition: all 0.5s;
}

.s6-c ul li a .icons::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    background: url(../images/s6-circle.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    /* border-radius: 50%; */
    transition: all 0.5s;
    animation: _anirotate 20s linear infinite;
    z-index: 2;
}

.s6-c ul li a .icons::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#fff, rgba(255, 255, 255, .1));
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
}

@keyframes _anirotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.s6-c ul li a .icons .icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FFFFFF;
    box-sizing: border-box;
    /* border: 1px solid rgba(15, 94, 187, 0.3); */
    position: relative;
    z-index: 9;
    transition: all 0.5s;
}

.s6-c ul li a .icons .icon img {
    max-height: 60%;
    max-width: 60%;
}

.s6-c ul li a p {
    font-size: 0.2rem;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #333333;
    margin-top: .1rem;
}

.s6-c ul li a:hover .icons {
    transform: scale(1.1);
}

.s6-c ul li a:hover .icons .icon {
    background: rgba(255, 255, 255, 0);
}

.s6-c ul li a:hover .icons::after {
    opacity: 1;
}

.s6-c ul li a:hover .icons::before {
    background: url(../images/s6-circle2.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;

}

.s6-c ul li.s6-line {
    flex: 1;
    margin: 0 .05rem;
    border-top: 1px dashed rgba(17, 80, 157, 0.3);
}

.s6-c ul li.s6-line1 {
    transform: rotate(15deg);
    margin-top: 1rem;
}

.s6-c ul li.s6-line2 {
    transform: rotate(20deg);
    margin-top: 1.3rem;
}

.s6-c ul li.s6-line3 {
    transform: rotate(-20deg);
    margin-top: 1.3rem;
}

.s6-c ul li.s6-line4 {
    transform: rotate(20deg);
    margin-top: 1.3rem;
}

.s6-c ul li.s6-line5 {
    transform: rotate(-20deg);
    margin-top: 1.2rem;
}

.s6-c ul li.s6-line6 {
    transform: rotate(20deg);
    margin-top: .8rem;
}

.s6-jz {
    position: relative;
    z-index: 9;
}

.s6-jz img {
    display: block;
    width: 100%;
}

.s6-jz svg {
    width: 100%;
}

svg {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .3s;
}

/* svg:hover {
    animation: dash 10s ease forwards;
} */

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}


.s1-m.showdiv .s1-msvg svg {
    animation: dash 15s 1s ease forwards;
}

.s6.showdiv .s6-jz svg {
    animation: dash 10s ease forwards;
}
@media screen and (min-width: 1025px) {}

@media screen and (max-width: 1400px) {
   
    .s1-l{width: 26%;}
    .s1-m{width: 40%;margin: 0 1.5%;}
    .s2-r{width: 6.5rem;}
    .s2-l ul{margin-top: .4rem;}
    .s2-l ul li a .item2{padding: .25rem 4% 0 6%;}
    .s2-l ul li a .item2 div{margin-top: .15rem;}
    .s3-l{width: 7rem;margin-right: 5%;}
    .s3-r ul li a{margin-top: .25rem;}



}

@media screen and (max-width: 1200px){
    .s2-r::before{right: calc((-5vw) / 2);}
    .s5-r .slick{margin-right: calc((-5vw) / 2);}
    .s5-r .slick ul{margin-right: calc((5vw) / 2);padding-right: 8%;}
}
@media screen and (max-width: 1024px) {}



@media screen and (max-width: 1024px) {
    #downPage {
        width: 0.6rem;
        height: 0.6rem;
        margin: 0 .3rem;
    }

    #downPage img {
        height: .2rem;
    }

    .banner-btm {
        bottom: 0.1rem;
    }

    .banner .slick-slide a::after {
        content: none;
    }
.banner .slick-slide a::before{
  height: 1rem; 
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 100%);
}
    html,
    body,
    .banner,
    .banner .slick,
    .banner .slick div,
    .banner .slick-slide a,
    .banner .slick-slide a img {
        height: auto !important;
    }

    .index {
        position: relative;
    }

    .banner-ty div img {
        max-width: 40%;
        margin: 0 auto;
    }

    
    .banner .slick-dots {
        bottom: 0.2rem;
    }


    .s1-c{display: flex;flex-wrap: wrap;}
    .s1-l{width: 100%;order: 2;margin: .3rem 0;}
    .s1-m{width: 100%;order: 1;margin: 0;}
    .s1-mtext li a{padding: .25rem .2rem;}
    .s1-r{
    width: 100%;
    order: 3;
    flex: none;
}
    .s2-c{display: block;}
    .s2-l ul{padding-right: 0;}
    .s2-l ul li a{margin-top: .25rem;}
    .s2-r{width: auto;margin-right: .1rem;}
    .s3-c{display: block;}
    .s3-l{width: auto;margin-right: 0;margin-bottom: .3rem;}
    .itit-other{flex-direction: column;align-items: flex-end;margin-top: .15rem;}
    .group-media ul{margin-right: 0;margin-top: .2rem;}
    .s4 .itit{align-items: flex-start;}
    .group-media ul{margin-left: -3rem;}
    .group-media ul li a{width: .46rem;height: 0.46rem;}
    .group-media ul li a .icons{width: .46rem;height: 0.46rem;}
    .group-media ul li a .icons div{width: .46rem;height: 0.46rem;}
    .group-media ul li a .icons div img{display: block;max-width: 60%;max-height: 60%;}
    .group-media ul li{margin-left: .15rem;}
    .group-media ul{font-size: 0;}
    .group-media ul li a .group-ewm img{width: 0.9rem;}
    .s5-tit{width: auto;margin-right: .1rem;}
    .s5-tit .itit>div.itit-text{width: 0.8rem;padding: 0 0 .5rem 0;}
    .s5-r ul li a{margin: 0 0.05rem;}
    .s6-c ul li.s6-line{display: none;}
    .s6-c ul{flex-wrap: wrap;justify-content: center;}
    .s6-c ul li{width: 33.33%;margin-top: .2rem !important;}
    .s6-c ul li:nth-child(1){margin-left: 16.665%;}
    .s6-c ul li:nth-child(3){margin-right: 16.665%;}
    .s6-c ul li a{width: auto;}
    .s6-c ul li a .icons{width: 1.1rem;height:1.1rem;margin: 0 auto;}

    .s1,.s2,.s6{margin-top: .5rem;}
    .first-item a,.s2-r,.slick-speed,.s3-llist1 ul,.s4-c{margin-top: .3rem;}
    .s1-mpics{margin-top: 0;}
    .s2,.s3,.s5{padding-top: .5rem;}
    .s2-r,.s5{padding-bottom: .5rem;}
    


}

@media screen and (max-width: 768px) {
    .s3-llist1 ul{display: block;}
    .s3-llist1 ul li{width: auto;margin-bottom: .2rem;}
    .s3-llist2 ul{display: block;}
    .s3-llist2 ul li{width: auto;}
    .s3-llist2 ul li a{padding: .2rem 0;}
    .s3-llist2 ul li:nth-child(2n) a {margin-left: 0;}
    .s3-r ul::before{left: 1rem;}
    .s3-r ul li a .date{margin-right: .2rem;}
    .s3-r ul li a .info{padding-left: .3rem;}
    .s4-c{display: block;}
    .s4-l{width: auto;}
    .s4-r ul{display: block;}
    .s4-r ul li{width: auto !important;}
}

.bq-r a {
    font-size: 0.15rem;
    line-height: 0.3rem;
    /* padding: 4px; */
    color: #b2c1d3;
}