@charset "utf-8";

body.overhide {
    height: 100%;
    overflow: hidden;
}

/* 定位搜索框 */

.b-top {
    line-height: 40px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: none;
}

.t-search-zzc {
    position: fixed;
    z-index: 99998;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
}

.t-search {
    padding: 0 0 10px 0;
    display: none;
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 99999;
}

.t-search>div {
    min-width: 10rem;
    margin: 0 auto;
    position: relative;
    padding-right: 50px;
    padding: .2rem 0;
    background: #fff;
}

.t-search>div input[type="text"] {
    display: block;
    width: 100%;
    padding: 0 .7rem 0 .35rem;
    font-size: 16px;
    height: 30px;
    box-sizing: border-box;
    font-size: .2rem;
}

.t-search>div input[type="text"]::placeholder {
    color: #9E9E9E;
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: .7rem;
    cursor: pointer;
}

.search-btn input {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/ssearch-icon.png) no-repeat;
    background-position: center center;
    background-size: .48rem;
    cursor: pointer;
}

.head {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    transition: all 0.8s;
    
}
.head::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1.6rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}
.head.hide {
    transform: translateY(-100%);
}

/* head-nav */
.head .head-top::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .6);
    z-index: -1;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background: linear-gradient(to bottom, #004CB0 4%, #0091D3 95%);
}

.head.on .head-top::after {
    height: 100%;
}


.head.on::before {
    bottom: 0;
}


.b-top-l {
    float: left;
    font-size: 14px;
    color: #fff;
    color: rgba(229, 229, 229, 0.8);
}


.head-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1600px; */
    margin: 0 auto;
    padding: .3rem 0;
}

.head.on .nav-r a {
    color: #333333;
    border-color: #333;
}

.head.on .nav-r a img {
    display: inline-block;
}

.head.on .nav-r a img:first-child {
    display: none;
}



.logo2 {
    display: none;
}

.head.on .logo2 {
    display: block;
}

.head.on .logo1 {
    display: none;
}

.logo {
    float: left;
    overflow: hidden;
}

.logo a {
    position: relative;
    transition: all 0.5s;
    top: 0;
}

.logo a {
    display: block;
}

.logo a img {
    vertical-align: middle;
    height: .8rem;
}


.h-right {
    /* float: right; */
    flex: 1;
    min-width: 0;
}

.h-link {
    text-align: right;
    font-size: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.h-link a:first-child {
    border: none;
}

.h-link a {
    font-size: .18rem;
    line-height: .3rem;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* opacity: .7; */
    position: relative;
}

.h-link a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 1px;
    background: #fff;
    width: 0;
    transition: all 0.5s;
}

.h-link a:hover::after {
    width: 100%;
}

.h-link span {
    background: rgba(255, 255, 255, 0.3);
    margin: 0 .15rem;
    height: .15rem;
    width: 2px;
}

.h-link a img {
    margin-right: .05rem;
    max-height: .2rem;
}



.h-link a:hover {
    opacity: 1;
}

.head-lang {
    margin-left: .4rem !important;
    margin-right: .25rem !important;
}

.nav {
    text-align: right;
}

.nav>ul {
    font-size: 0;
    /* float: left; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: .06rem;
}

.nav>ul>li {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-left: .5rem;
}

.nav>ul>li:nth-child(1) {
    margin-left: 0;
}


.nav>ul>li>a {
    display: block;
    line-height: .4rem;
    color: #fff;
    text-align: center;
    position: relative;
    transition: all 0.3s;
    font-family: Cambria;
    font-size: .21rem;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    font-weight: 600;
}

.nav>ul>li>a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: .33rem;
    transform: translateX(-50%);
    transition: all 0.5s;
    border-top: 1px solid #fff;
}

.nav>ul>li>a::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    height: 0;
    transform: translateX(-50%);
    background: #fff;
    transition: all 0.5s;
    width: 1px;
}

.nav>ul>li.on>a::before {
    width: 100%;
}

.nav>ul>li.on>a::after {
    height: 0.17rem;
}

.nav>ul>li.active {
    padding: 0 .2rem;
}

.nav>ul>li.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/nav-actbef.png) no-repeat;
    background-position: left top;
    transition: all 0.5s;
}

.nav>ul>li.active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/nav-actaft.png) no-repeat;
    background-position: right bottom;
    transition: all 0.5s;
}

.nav>ul>li.active:hover::before {
    opacity: 0;
}

.nav>ul>li.active:hover::after {
    opacity: 0;
}

.ejnav {
    position: absolute;
    top: 150%;
    /* left: 50%; */
    margin-top: .17rem;
    /* transform: translateX(-50%); */
    background: #fff;
    z-index: 9999;
    overflow: hidden;
    line-height: normal;
    display: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    width: 200px;
    opacity: 0;
    display: none;
    padding: .1rem;
    align-items: center;
    border-top: 3px solid #11509D;
}

.ejnav>.pics {
    width: 3rem;
}

.ejnav>.pics .pic {
    padding-top: 70%;
}


.ejnav>ul {
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.ejnav>ul>li {
}

.ejnav>ul>li a {
    display: block;
    transition: .3s;
    /* white-space: nowrap; */
    text-align: center;
    /* padding-left: .3rem; */
    font-size: .18rem;
    font-weight: normal;
    line-height: .3rem;
    padding: .1rem 0;
    /* background: url(../images/nav-libef.png) no-repeat; */
    /* background-position: left center; */
    /* background-size: .2rem auto; */
    color: #333333;
}

.ejnav>ul>li a:hover {
    /* background: url(../images/nav-libef2.png) no-repeat; */
    /* background-position: left center; */
    /* background-size: .2rem; */
    color: #525DC8;
}


.head2 {
    position: relative;
    z-index: 999;
    background: #11509D;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-1.4rem);
    transition: all 0.8s;
}

.head2.show {
    transform: translateY(0);
}

.head2 .head-top {
    padding: .15rem 0;
}

.top {
    max-width: 1920px;
    margin: 0 auto;
    position: fixed;
    right: 10px;
    top: 18px;
    width: 25px;
    height: 25px;
    z-index: 9999;
}

.top>img {
    display: block;
    width: 100%;
}

.wap-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;
    font-size: 0;
}

.wap-menu img {
    height: 25px;
}

.close-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

/* icon摇晃 */
@keyframes jello {

    from,
    11.1%,
    to {
        -webkit-transform: none;
        -moz-transform: none;
        transform: none
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        -moz-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        -moz-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        -moz-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        -moz-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        -moz-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        -moz-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg)
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        -moz-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }

}


/* nav */

.next-back img {
    display: block;
    width: auto !important;
    height: auto !important;
}

.h-right {
    position: relative;
}

/* foot */
.footer {
    background: url(../images/foot-bg.png) no-repeat;
    background-position: right top;
    background-size: cover;
    position: relative;
    z-index: 999;
}

.foot-border {
    display: flex;
}

.foot-border li {
    width: 25%;
    height: 8px;
}

.foot-border li:nth-child(1) {
    background: #0C2770;
}

.foot-border li:nth-child(2) {
    background: #2875CE;
}

.foot-border li:nth-child(3) {
    background: #4590DF;
}

.foot-border li:nth-child(4) {
    background: #A72126;
}

.foot-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 0;
}

.foot-l {
    display: flex;
    align-items: center;
}

.foot-logo a {
    display: block;
    margin-right: .5rem;
}

.foot-logo a img {
    display: block;
    max-height: 0.84rem;
    max-width: 100%;
}

.foot-timg img {
    display: block;
    max-height: 0.47rem;
    max-width: 100%;
}

.foot-r ul {
    display: flex;
}

.foot-r ul li:nth-child(1) {
    margin-right: .3rem;
}

.foot-r ul li div img {
    width: 1.16rem;
    display: block;
}

.bq {
    background: url(../images/bq-bg.png) no-repeat;
    background-position: center center;
    background-size: cover;
    padding: .25rem 0;
}

.bq-c {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.bq-l {
    display: flex;
    flex-wrap: wrap;
}

.bq-l p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: .4rem;
}
.bq-l p:nth-child(1){
    margin-left: 0;
}

.bq-l p img {
    margin-right: .15rem;
}

.bq-l p span {
    font-size: 0.16rem;
    font-weight: normal;
    line-height: 0.26rem;
    color: #B2C1D3;
}

.bq-r p {
    display: flex;
    flex-wrap: wrap;
}

.bq-r p img {
    margin-right: .15rem;
}

.bq-r p span {
    margin-left: .15rem;
    font-size: 0.15rem;
    font-weight: normal;
    line-height: 0.3rem;
    color: #B2C1D3;
}



/* 公共标题 */

.itit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itit>div.itit-text {
    padding: .2rem .5rem .2rem 0;
    display: flex;
    align-items: center;
    font-size: 0.3rem;
    font-weight: bold;
    line-height: normal;
    background: url(../images/itit-logo.png) no-repeat;
    background-position: right center;
    background-size: auto 100%;
    position: relative;
}

.itit>div.itit-text::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0.3rem;
    height: 0.04rem;
    background: #0F5EBB;
}

.itit>div.itit-text::after {
    content: "";
    position: absolute;
    left: .37rem;
    bottom: 0;
    width: 0.16rem;
    height: 0.04rem;
    background: #AA2431;
}

.itit>div.itit-text span {
    color: #333333
}

.itit>div.itit-text b {
    color: #11509D
}

.itit a {
    font-size: 0.16rem;
    font-weight: normal;
    line-height: normal;
    text-align: right;
    color: #11509D;
    display: flex;
    align-items: center;
}

.itit a i {
    width: 0.37rem;
    height: 0.37rem;
    position: relative;
    margin-right: .2rem;
}

.itit a i::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.56rem;
    height: 0.56rem;
    background: url(../images/itit-more2.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    animation: _circlescale infinite 1.3s linear;
}

.itit a i::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/itit-more.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.itit a:hover {
    color: #AA2431;
}

.itit a:hover i::before {
    background: url(../images/itit-more2-r.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.itit a:hover i::after {
    transform: rotate(180deg);
    transition: all 0.5s;
    background: url(../images/itit-more-r.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.itit-w>div.itit-text {
    background: url(../images/itit-logo2.png) no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.itit-w>div.itit-text span {
    color: #fff;
}

.itit-w>div.itit-text b {
    color: #fff;
}

.itit-w a {
    color: #fff;
}

.itit-w a i::before {
    background: url(../images/itit-more2-b.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.itit-w a i::after {
    background: url(../images/itit-more-b.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.itit-other {
    background: none;
}

@keyframes _circlescale {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) scale(1.2);
        opacity: 0;
    }
}





@media screen and (max-width:1850px) {}

@media screen and (max-width:1720px) {}

@media screen and (max-width:1620px) {}

@media screen and (max-width:1520px) {

    .nav>ul>li>a {
        font-size: .2rem;
    }
}

@media screen and (max-width:1400px) {
    .px1400 {
        max-width: 1400px;
        margin: 0 10px;
    }

    .px1480 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .itit>div.itit-text{
        padding: .1rem .35rem .1rem 0;
    }
    .itit a i{margin-right: .15rem;}
}

@media screen and (max-width:1320px) {
    .px1300 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav>ul>li {
        margin-left: .25rem;
    }
    .h-link span{
        margin: 0 .1rem;
    }
   
}


@media screen and (max-width:1024px) {
    body {
        padding-top: 60px !important;
    }

    .pc {
        display: none !important;
    }

    .wap {
        display: block !important;
    }

    .m-head {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 10px;
        background: #11509D;
        background: linear-gradient(to bottom, #11509D 4%, #11509D 95%);
    }

    .m-logo {
        font-size: 0;
    }

    .m-logo a {
        font-size: 0;
        line-height: 40px;
        display: block;
    }

    .m-logo img {
        max-height: 40px;
        max-width: 80%;
        vertical-align: middle;
    }

    .m-tlink {
        padding: 10px 15px 0 15px;
    }

    .m-tlink a {
        font-size: 14px;
        margin-right: 5px;
        display: inline-block;
        line-height: 24px;
        background: #fff;
        color: #333;
        line-height: 24px;
        padding: 0 15px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .m-search {
        margin: 0 15px;
        padding-right: 50px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        line-height: 35px;
        /* background: #fff; */
        margin-top: 10px;
        border: 1px solid #fff;
    }

    .m-search input[type="text"] {
        display: block;
        width: 100%;
        line-height: 25px;
        background: none;
        color: #fff;
    }

    .m-search input[type="text"]::placeholder {
        color: #fff;
    }

    .m-search input[type="image"] {
        position: absolute;
        right: 10px;
        top: 10px;
        height: 15px;
    }

    .m-nav {
        position: fixed;
        top: 60px;
        right: -100%;
        bottom: 0;
        z-index: 999;
        background: #11509D;
        overflow-y: scroll;
        width: 100%;
        /* max-width: 375px; */
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(to bottom, #11509D 4%, #11509D 95%);
    }

    .m-nav ul {
        padding: 0 15px;
        /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
    }

    .m-nav ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        position: relative;
    }

    .m-nav ul li>span.on {
        transform: rotateZ(90deg);
    }

    .m-nav ul li ul {
        display: none;
    }

    .m-nav ul li ul li {
        border: none;
    }

    .m-nav>ul>li a {
        display: block;
        font-size: 14px;
        line-height: 20px;
        padding: 15px 0;
        position: relative;
        color: #fff;
    }

    .m-nav>ul>li ul li a {
        padding: 10px 0;
    }

    .m-nav>ul>li>span {
        position: absolute;
        width: 20px;
        height: 20px;
        background: url(../images/m-nav_down.png) no-repeat;
        background-size: 14px 14px;
        background-position: center center;
        right: 0;
        top: 15px;
        cursor: pointer;
        display: block;
        color: #fff;
        transition: all 0.3s;
    }

}

@media screen and (max-width:1024px) {
    .foot-c{display: block;padding: .3rem 0;}
    .foot-l{display: block;}
    .foot-logo a{margin-right: 0;}
    .foot-logo a img{margin: 0 auto;}
    .foot-timg img{margin: .2rem auto;}
    .foot-r ul{justify-content: center;}
    .bq-c{display: block;}
    .bq-l{justify-content: center;margin-bottom: .15rem;}
    .bq-r p{justify-content: center;}
    .bq-r p span{margin-left: 0;width: 100%;text-align: center;}
}

@media screen and (max-width:768px) {}